.card{
    background-color: #082938;    
    padding:30px;
    height:360px; 
    overflow: hidden; 
    
}

.card:hover{
    background-color: #051922;
}

.titlecard{
    text-wrap:pretty;
}

.title{
    color:#FFDB58
    ;
}
.title:hover{
    color: #fff;
}

.title-text{
    color: #fff;
}
.title-text:hover{
    color:#FFDB58;
}

.subTitle{
    margin-bottom: 0%;
    color: #cdd4d7;
}

.date{
    color: #b4bec3;
}

.cardBody{
    text-wrap:pretty;
}

.image{
    height:auto;
    width: 40%;
    padding-right: 20px;
}

.description{
    text-align: justify;
    color: #e6e9eb;
}
