.card{
    background-color: #051922;
    padding:20px;
    height:360px;    
}

.titlecard{
    text-wrap:pretty;
    height: 80px;
}

.title{
    color: #F3EAD3;
}
.title:hover{
    color: #fff;
}

.title-text{
    color: #fff;
}
.title-text:hover{
    color:#F3EAD3;
}

.subTitle{
    margin-bottom: 0%;
    color: #FFFAF0;
}

.date{
    color: #FDF5E6;
}

.image{
    height: 90px;
    width: 150px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.description{
    text-align: justify;
    color: #F5F5DC;    
}
